body {
  font-family: Helvetica;
}

header{
  background-image: url('pattern.webp');
}

h1 {
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

span {
  font-weight: bold;
  color: blue;
}

.brushes h2 {
  background-color: mediumspringgreen;
  font-size: 32px;
  color: white;
}

.frames h2 {
  background-color: lightcoral;
  font-size: 32px;
  color: white;
}

.paint h2 {
  background-color: skyblue;
  font-size: 32px;
  color: white;
}